* {
    margin: 0px;
}

.hRight a:hover {
    color: #900;
}

.hRight {
    float: right;
    text-align: right;
}

#gNav {
    clear: both;
    background-color: #A2EBB1;
    padding: 3px;
    border: 2px solid #333;
}

.hNav {
    float: right;
}

.hButton li a {
    text-decoration: none;
    color: #cf682d;
}

.hButton li a:hover {
    color: #900;
    text-decoration: underline;
}

nav#gNav ul li {
    border-right: solid 1px #333;
    display: inline;
    padding: 0 10px;
}

nav#gNav ul li:last-child {
    border-right: none;
    padding-right: 0;
}

#gMain {
    clear: both;
}